<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Node.js upload images</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <style>
        div.preview-images>img {
            width: 30%;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 mt-3">
                <h4>Files have been uploaded.</h4>

                <form class="mt-4" action="/" method="GET">
                    <div class="form-group">
                    </div>
                    <button type="submit" class="btn btn-primary">Upload More</button>
                </form>

                <form class="mt-4" action="/train" method="POST">
                    <div class="form-group">
                    </div>
                    <button type="submit" class="btn btn-primary">Start Training</button>
                </form>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-12">
                <div class="preview-images"></div>
            </div>
        </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</body>

</html>