<!doctype html>
<html>

<head>

	
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="/res/fonts/icomoon/style.css">

	<link rel="stylesheet" href="/res/css/owl.carousel.min.css">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/res/css/bootstrap.min.css">

	<!-- Style -->
	<link rel="stylesheet" href="c/res/ss/style.css">

	<style>
		div.preview-images>img {
			width: 30%;
		}

		div.preview-images-detect>img {
			width: 60%;
		}

		div.box1 {
			display: block;
			padding: 10px;
			margin-bottom: 20px;
			/* SIMPLY SET THIS PROPERTY AS MUCH AS YOU WANT. This changes the space below box1 */
			text-align: justify;
		}

		div.center {

			justify-content: center;
			align-items: center;

		}
	</style>

	<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="/res/js/util.js"></script>
	<script type="text/javascript">
		$(document).ready(function (e) {

			let imagesPreview = function (input, placeToInsertImagePreview) {
				if (input.files) {
					let filesAmount = input.files.length;
					for (i = 0; i < filesAmount; i++) {
						let reader = new FileReader();
						reader.onload = function (event) {
							$($.parseHTML("<img>"))
								.attr("src", event.target.result)
								.appendTo(placeToInsertImagePreview);
						};
						reader.readAsDataURL(input.files[i]);
					}
				}
			};
			$("#input-files").on("change", function () {
				imagesPreview(this, "div.preview-images");
				imagesPreview(this, "div.preview-images-detect");
			});
			getStats();
			$('#upload').on('click', function () {
				var form_data = new FormData();
				var ins = document.getElementById('multiFiles').files.length;
				if (ins != 1) {
					$('#msg').html('<span style="color:red">Select exactly one file</span>');
					return;
				}

				for (var x = 0; x < ins; x++) {
					form_data.append("files[]", document.getElementById('multiFiles').files[x]);
				}

				$.ajax({
					url: 'detect-image', // point to server-side URL
					dataType: 'json', // what to expect back from server
					cache: false,
					contentType: false,
					processData: false,
					data: form_data,
					type: 'post',
					success: function (response) { // display success response
						$('#msg').html('');
						$.each(response, function (key, data) {
							if (key !== 'message') {
								$('#msg').append(key + ' -> ' + data + '<br/>');
							} else {
								$('#msg').append(data + '<br/>');
							}
						})
						getStats();
					},
					error: function (response) {
						$('#msg').html(response.message); // display error response
						getStats();
					}
				});
			});
		});
	</script>
</head>

<body>

	<div style="width: 100%; ">

		<div
			style="width: 50%; height: 800px; float: left; background-image: url('/res/images/brown_bg_2.jpeg'); justify-items: center; align-items: center; margin:0 auto;">
			<div class="box1"></div>
			<h2 style="color: white; align-items: center;">Detect Most Wanted Person </h2>
			<div class="box1"></div>
			<h4 style="color: white; align-items: center;">Select Atleast one image to detect Wanted Person* </h4>
			<input style="background-color: white; width: 400px; align-self: center; align-items: center;" type="file"
				name="file" multiple id="input-files" class="form-control-file border" />
			<div class="row">
				<div class="col-sm-12">
					<div class="preview-images"></div>
				</div>
			</div>
			<div class="box1"></div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
		<div  style="margin-left: 50%; height:  800px; ">
			<div style="height: 200px; background-image: url('/res/images/wanted_3.jpeg'); "></div>
		<div >
			<button type="submit" class="btn btn-primary">Detect Person Name</button>
			<div class="row">
				<div class="col-sm-12">
					<div class="preview-images-detect"></div>
				</div>
			</div>
		</div>
		</div>
	</div>
	<!-- <div class="d-lg-flex half" style="background-color:#6866ce">
        <div class="bg order-1 order-md-2" style="background-color:#16ba99"></div>
        <div style="background-color:#ba1673">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-7">
                        <h3>Login to <strong>Colorlib</strong></h3>
                        <p class="mb-4">Lorem ipsum dolor sit amet elit. Sapiente sit aut eos consectetur adipisicing.
                        </p>
                        <form action="#" method="post">
                            <div class="form-group first">
                                <label for="username">Username</label>
                                <input type="text" class="form-control" placeholder="your-email@gmail.com"
                                    id="username">
                            </div>
                            <div class="form-group last mb-3">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" placeholder="Your Password" id="password">
                            </div>

                            <div class="d-flex mb-5 align-items-center">
                                <label class="control control--checkbox mb-0"><span class="caption">Remember me</span>
                                    <input type="checkbox" checked="checked" />
                                    <div class="control__indicator"></div>
                                </label>
                                <span class="ml-auto"><a href="#" class="forgot-pass">Forgot Password</a></span>
                            </div>

                            <input type="submit" value="Log In" class="btn btn-block btn-primary">

                        </form>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <script src="/res/js/jquery-3.3.1.min.js"></script>
    <script src="/res/js/popper.min.js"></script>
    <script src="/res/js/bootstrap.min.js"></script>
    <script src="/res/js/main.js"></script> -->


</body>