<!doctype html>
<html>
<head>
	<title>Upload wanted person Info</title>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function (e) {
			getStats();
			$('#upload').on('click', function () {
				var form_data = new FormData();
				var ins = document.getElementById('multiFiles').files.length;
				var personName = document.getElementById('person').value.trim();
				if (personName.length <= 0) {
					$('#msg').html('<span style="color:red">Person name is mandatory.</span>');
					return;
				}
				if(ins == 0) {
					$('#msg').html('<span style="color:red">Select at least one file</span>');
					return;
				}
				
				for (var x = 0; x < ins; x++) {
					form_data.append("files[]", document.getElementById('multiFiles').files[x]);
				}
				
				$.ajax({
					url: 'python-flask-files-upload?person_name='+personName, // point to server-side URL
					dataType: 'json', // what to expect back from server
					cache: false,
					contentType: false,
					processData: false,
					data: form_data,
					type: 'post',
					success: function (response) { // display success response
						$('#msg').html('');
						$.each(response, function (key, data) {							
							if(key !== 'message') {
								$('#msg').append(key + ' -> ' + data + '<br/>');
							} else {
								$('#msg').append(data + '<br/>');
							}
						})
						getStats();
					},
					error: function (response) {
						$('#msg').html(response.message); // display error response
						getStats();
					}
				});
			});
			$('#train').on('click', function () {
				$.ajax({
					url: 'train',
					dataType: 'json',
					cache: false,
					contentType: false,
					processData: false,
					type: 'post',
					success: (...args) => {
						console.log(...args);
						getStats();
					},
					error: (...args) => {
						console.error(...args);
						getStats();
					},
				});
			})
			function getStats() {
				$.ajax({
					url: 'stats',
					dataType: 'json',
					cache: false,
					contentType: false,
					processData: false,
					type: 'get',
					success: (response) => {
						console.log(response);
						$('#stats').html('');
						$.each(response, function (key, data) {							
							if (key === 'persons') {
								response[key].forEach(({ name, imageCount }) => {
									$('#stats').append(name + ' has ' + imageCount + ' images.<br/>');
								});
							} else {
								if (key !== 'message') {
									$('#stats').append(key + ' -> ' + data + '<br/>');
								} else {
									$('#stats').append(data + '<br/>');
								}
							}
						})
					},
					error: console.error,
				});
			}
		});
	</script>
</head>
<body background ="/res/home.jpeg">
	<h2>Upload wanted person Info</h2>
	<dl>
		<p>
			<p>Keep the person name exactly same if uploading in multiple batches for same person.</p>
			<p id="msg"></p>
			<input type="file" id="multiFiles" name="files[]" multiple="multiple"/>
			<br />
			<input type="text" id="person" name="person" placeholder="name for images" />
			<br />
			<button id="upload">Upload</button>
			<br />
			<button id="train">Start training</button>
			<br />
			<p id="stats"></p>
		</p>
	</dl>
</body>